@keyframes shake{
  0%,to{transform:translateZ(0);
  }
  10%,30%,50%,70%,90%{
    transform:translateX(-10px);
  }
  20%,40%,60%,80%{
    transform:translateX(10px);
  }
}

@keyframes left{
  0%{
    opacity:0;
    transform:translate3d(-1000px,0, 0);
    
  }
  40%,80%{
    transform:translate3d(20px,0,0);
  }
  20%,60%{
    opacity:1;
    transform:translate3d(-20px,0,0 );
  }
  100%{
    
    transform:none;
  }
}

@keyframes bound{
    0%,60%,75%,90%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

  0%{
    opacity:0;
    transform:translate3d(-2000px,0,0);
  }
  60%{
    opacity:1;
    transform:translate3d(25px,0,0);
  }
  80%{
    transform:translate3d(-10px,0,0);
  }
  90%{
    transform:translate3d(5px,0,0);
  }
  100%{
    transform:none;
  }
  
}

@keyframes swing{
  0%{
    transform:translate3d(0,-1000px,-1000px);
    opacity:0;
  }
   20% {
        transform: rotate(15deg)
    }

    40% {
        transform: rotate(-10deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}
.shake{
  color: #f35626;
  font-weight:100;
  text-align:center;
   animation:shake 3s 7; 
}
.a{
  color: rgb(28,243,37);
  text-align:center;
  font-weight:400;
   animation:left 2s 2; 
}
.suki{
  text-align:center;
  color:rgba(18,208,241,0.9);
   animation:bound 2s 7; 
}
.swing{
  text-align:center;
  color:rgba(204,18,212,0.7);
  font-weight:400;
  animation:swing 2s 2;
}